  <style>
      h1 {
        text-align: center;
      }
      body { 
        background-image: url("./steak.jpg"); 
      }
    
      .menu {
        width: 80%;
        background-color: burlywood;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40;
        font-size: 20;
        margin-top: 40;
      }
      .item p {
        display: inline-block;
      }
      .price {
        text-align: right;
        width: 49%;
      } 
      .waiters {
        width: 80%;
        background-color: burlywood;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40;
        font-size: 20;
        text-align: center;
        margin-bottom: -700;
      }
      .branches {
        width: 80%;
        background-color: burlywood;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40;
        font-size: 20;
        text-align: right;
        margin-bottom: 400;
      }
      .admins{
        text-align: left;
        width: 80%;
        background-color: burlywood;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40;
        margin-bottom: -400;
        font-size: 20;
        padding-top: 40;
      }
    </style>